<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Africa</key>
	<dict>
		<key>301010100</key>
		<string>开罗</string>
		<key>302010100</key>
		<string>开普敦</string>
		<key>303010100</key>
		<string>突尼斯-迦太基</string>
		<key>305010100</key>
		<string>阿尔及尔</string>
		<key>311010100</key>
		<string>亚的斯亚贝巴</string>
		<key>313010100</key>
		<string>阿克拉</string>
		<key>317010100</key>
		<string>内罗毕</string>
		<key>322010100</key>
		<string>塔那那利佛</string>
		<key>323010100</key>
		<string>巴马科</string>
		<key>325010100</key>
		<string>马普托</string>
		<key>327010100</key>
		<string>达喀尔</string>
		<key>332010100</key>
		<string>达累斯萨拉姆</string>
	</dict>
	<key>Anhuisheng</key>
	<dict>
		<key>101220101</key>
		<string>合肥</string>
		<key>101220201</key>
		<string>蚌埠</string>
		<key>101220301</key>
		<string>芜湖</string>
		<key>101220401</key>
		<string>淮南</string>
		<key>101220501</key>
		<string>马鞍山</string>
		<key>101220601</key>
		<string>安庆</string>
		<key>101220701</key>
		<string>宿州</string>
		<key>101220801</key>
		<string>阜阳</string>
		<key>101220901</key>
		<string>亳州</string>
		<key>101221001</key>
		<string>黄山</string>
		<key>101221101</key>
		<string>滁州</string>
		<key>101221201</key>
		<string>淮北</string>
		<key>101221301</key>
		<string>铜陵</string>
		<key>101221401</key>
		<string>宣城</string>
		<key>101221501</key>
		<string>六安</string>
		<key>101221601</key>
		<string>巢湖</string>
		<key>101221701</key>
		<string>池州</string>
	</dict>
	<key>Asia</key>
	<dict>
		<key>102010100</key>
		<string>首尔</string>
		<key>103010100</key>
		<string>东京</string>
		<key>104010100</key>
		<string>新加坡</string>
		<key>105010100</key>
		<string>吉隆坡</string>
		<key>106010100</key>
		<string>曼谷</string>
		<key>107010100</key>
		<string>河内</string>
		<key>108010100</key>
		<string>仰光</string>
		<key>109010100</key>
		<string>万象</string>
		<key>110010100</key>
		<string>金边</string>
		<key>111010100</key>
		<string>雅加达</string>
		<key>112010100</key>
		<string>德黑兰</string>
		<key>113010100</key>
		<string>新德里</string>
		<key>114010100</key>
		<string>伊斯兰堡</string>
		<key>115010100</key>
		<string>塔什干</string>
		<key>116010100</key>
		<string>马累</string>
		<key>117010100</key>
		<string>科伦坡</string>
		<key>119010100</key>
		<string>巴库</string>
		<key>120010100</key>
		<string>斯里巴加湾</string>
		<key>126010100</key>
		<string>安曼</string>
		<key>127010100</key>
		<string>平壤</string>
		<key>132010100</key>
		<string>乌兰巴托</string>
		<key>133010100</key>
		<string>加德满都</string>
		<key>134010100</key>
		<string>马斯喀特</string>
		<key>136010100</key>
		<string>马尼拉</string>
		<key>138010100</key>
		<string>利雅得</string>
		<key>139010100</key>
		<string>大马士革</string>
	</dict>
	<key>Europe</key>
	<dict>
		<key>201010100</key>
		<string>伦敦</string>
		<key>202010100</key>
		<string>巴黎</string>
		<key>203010100</key>
		<string>柏林</string>
		<key>204010100</key>
		<string>罗马</string>
		<key>205010100</key>
		<string>阿姆斯特丹</string>
		<key>206010100</key>
		<string>马德里</string>
		<key>207010100</key>
		<string>哥本哈根</string>
		<key>208010100</key>
		<string>莫斯科</string>
		<key>209010100</key>
		<string>都柏林</string>
		<key>210020100</key>
		<string>日内瓦</string>
		<key>211010100</key>
		<string>斯德哥尔摩</string>
		<key>212010100</key>
		<string>布拉格</string>
		<key>213010100</key>
		<string>华沙</string>
		<key>214010100</key>
		<string>里斯本</string>
		<key>215010100</key>
		<string>安卡拉</string>
		<key>216010100</key>
		<string>布鲁塞尔</string>
		<key>217010100</key>
		<string>维也纳</string>
		<key>218010100</key>
		<string>雅典</string>
		<key>219010100</key>
		<string>奥斯陆</string>
		<key>220010100</key>
		<string>萨格勒布</string>
		<key>222010100</key>
		<string>赫尔辛基－万塔</string>
		<key>224010100</key>
		<string>布达佩斯</string>
		<key>226010100</key>
		<string>维尔纽斯</string>
		<key>227010100</key>
		<string>基辅</string>
		<key>228010100</key>
		<string>索非亚</string>
		<key>234010100</key>
		<string>里加</string>
	</dict>
	<key>Fujiansheng</key>
	<dict>
		<key>101230101</key>
		<string>福州</string>
		<key>101230201</key>
		<string>厦门</string>
		<key>101230301</key>
		<string>宁德</string>
		<key>101230401</key>
		<string>莆田</string>
		<key>101230501</key>
		<string>泉州</string>
		<key>101230601</key>
		<string>漳州</string>
		<key>101230701</key>
		<string>龙岩</string>
		<key>101230801</key>
		<string>三明</string>
		<key>101230901</key>
		<string>南平</string>
	</dict>
	<key>Gansusheng</key>
	<dict>
		<key>101160101</key>
		<string>兰州</string>
		<key>101160201</key>
		<string>定西</string>
		<key>101160301</key>
		<string>平凉</string>
		<key>101160401</key>
		<string>庆阳</string>
		<key>101160501</key>
		<string>武威</string>
		<key>101160601</key>
		<string>金昌</string>
		<key>101160701</key>
		<string>张掖</string>
		<key>101160801</key>
		<string>酒泉</string>
		<key>101160901</key>
		<string>天水</string>
		<key>101161001</key>
		<string>武都</string>
		<key>101161101</key>
		<string>临夏</string>
		<key>101161201</key>
		<string>合作</string>
		<key>101161301</key>
		<string>白银</string>
	</dict>
	<key>Guangdongsheng</key>
	<dict>
		<key>101280101</key>
		<string>广州</string>
		<key>101280201</key>
		<string>韶关</string>
		<key>101280301</key>
		<string>惠州</string>
		<key>101280401</key>
		<string>梅州</string>
		<key>101280501</key>
		<string>汕头</string>
		<key>101280601</key>
		<string>深圳</string>
		<key>101280701</key>
		<string>珠海</string>
		<key>101280800</key>
		<string>佛山</string>
		<key>101280901</key>
		<string>肇庆</string>
		<key>101281001</key>
		<string>湛江</string>
		<key>101281101</key>
		<string>江门</string>
		<key>101281201</key>
		<string>河源</string>
		<key>101281301</key>
		<string>清远</string>
		<key>101281401</key>
		<string>云浮</string>
		<key>101281501</key>
		<string>潮州</string>
		<key>101281601</key>
		<string>东莞</string>
		<key>101281701</key>
		<string>中山</string>
		<key>101281801</key>
		<string>阳江</string>
		<key>101281901</key>
		<string>揭阳</string>
		<key>101282001</key>
		<string>茂名</string>
		<key>101282101</key>
		<string>汕尾</string>
		<key>101282105</key>
		<string>东沙岛</string>
	</dict>
	<key>Guangxi Zhuangzu zizhiqu</key>
	<dict>
		<key>101300101</key>
		<string>南宁</string>
		<key>101300201</key>
		<string>崇左</string>
		<key>101300301</key>
		<string>柳州</string>
		<key>101300401</key>
		<string>来宾</string>
		<key>101300501</key>
		<string>桂林</string>
		<key>101300601</key>
		<string>梧州</string>
		<key>101300701</key>
		<string>贺州</string>
		<key>101300801</key>
		<string>贵港</string>
		<key>101300901</key>
		<string>玉林</string>
		<key>101301001</key>
		<string>百色</string>
		<key>101301101</key>
		<string>钦州</string>
		<key>101301201</key>
		<string>河池</string>
		<key>101301301</key>
		<string>北海</string>
		<key>101301401</key>
		<string>防城港</string>
	</dict>
	<key>Guizhousheng</key>
	<dict>
		<key>101260101</key>
		<string>贵阳</string>
		<key>101260201</key>
		<string>遵义</string>
		<key>101260301</key>
		<string>安顺</string>
		<key>101260401</key>
		<string>都匀</string>
		<key>101260501</key>
		<string>凯里</string>
		<key>101260601</key>
		<string>铜仁</string>
		<key>101260701</key>
		<string>毕节</string>
		<key>101260801</key>
		<string>六盘水</string>
		<key>101260901</key>
		<string>黔西</string>
	</dict>
	<key>Hainansheng</key>
	<dict>
		<key>101310101</key>
		<string>海口</string>
		<key>101310102</key>
		<string>琼山</string>
		<key>101310201</key>
		<string>三亚</string>
		<key>101310202</key>
		<string>东方</string>
		<key>101310203</key>
		<string>临高</string>
		<key>101310204</key>
		<string>澄迈</string>
		<key>101310205</key>
		<string>儋州</string>
		<key>101310206</key>
		<string>昌江</string>
		<key>101310207</key>
		<string>白沙</string>
		<key>101310208</key>
		<string>琼中</string>
		<key>101310209</key>
		<string>定安</string>
		<key>101310210</key>
		<string>屯昌</string>
		<key>101310211</key>
		<string>琼海</string>
		<key>101310212</key>
		<string>文昌</string>
		<key>101310213</key>
		<string>清兰</string>
		<key>101310214</key>
		<string>保亭</string>
		<key>101310215</key>
		<string>万宁</string>
		<key>101310216</key>
		<string>陵水</string>
		<key>101310217</key>
		<string>西沙</string>
		<key>101310218</key>
		<string>珊瑚岛</string>
		<key>101310219</key>
		<string>永署礁</string>
		<key>101310220</key>
		<string>南沙岛</string>
		<key>101310221</key>
		<string>乐东</string>
		<key>101310222</key>
		<string>通什</string>
	</dict>
	<key>Hebeisheng</key>
	<dict>
		<key>101090101</key>
		<string>石家庄</string>
		<key>101090201</key>
		<string>保定</string>
		<key>101090301</key>
		<string>张家口</string>
		<key>101090401</key>
		<string>承德市</string>
		<key>101090501</key>
		<string>唐山</string>
		<key>101090601</key>
		<string>廊坊</string>
		<key>101090701</key>
		<string>沧州</string>
		<key>101090801</key>
		<string>衡水</string>
		<key>101090901</key>
		<string>邢台</string>
		<key>101091001</key>
		<string>邯郸</string>
		<key>101091101</key>
		<string>秦皇岛</string>
	</dict>
	<key>Heilongjiangsheng</key>
	<dict>
		<key>101050101</key>
		<string>哈尔滨</string>
		<key>101050201</key>
		<string>齐齐哈尔</string>
		<key>101050301</key>
		<string>牡丹江</string>
		<key>101050401</key>
		<string>佳木斯</string>
		<key>101050501</key>
		<string>绥化</string>
		<key>101050601</key>
		<string>黑河</string>
		<key>101050701</key>
		<string>大兴安岭</string>
		<key>101050801</key>
		<string>伊春</string>
		<key>101050901</key>
		<string>大庆</string>
		<key>101051002</key>
		<string>七台河</string>
		<key>101051101</key>
		<string>鸡西</string>
		<key>101051201</key>
		<string>鹤岗</string>
		<key>101051301</key>
		<string>双鸭山</string>
	</dict>
	<key>Henansheng</key>
	<dict>
		<key>101180101</key>
		<string>郑州</string>
		<key>101180201</key>
		<string>安阳</string>
		<key>101180301</key>
		<string>新乡</string>
		<key>101180401</key>
		<string>许昌</string>
		<key>101180501</key>
		<string>平顶山</string>
		<key>101180601</key>
		<string>信阳</string>
		<key>101180701</key>
		<string>南阳</string>
		<key>101180801</key>
		<string>开封</string>
		<key>101180901</key>
		<string>洛阳</string>
		<key>101181001</key>
		<string>商丘</string>
		<key>101181101</key>
		<string>焦作</string>
		<key>101181201</key>
		<string>鹤壁</string>
		<key>101181301</key>
		<string>濮阳</string>
		<key>101181401</key>
		<string>周口</string>
		<key>101181501</key>
		<string>漯河</string>
		<key>101181601</key>
		<string>驻马店</string>
		<key>101181701</key>
		<string>三门峡</string>
		<key>101181801</key>
		<string>济源</string>
	</dict>
	<key>Hubeisheng</key>
	<dict>
		<key>101200101</key>
		<string>武汉</string>
		<key>101200201</key>
		<string>襄樊</string>
		<key>101200301</key>
		<string>鄂州</string>
		<key>101200401</key>
		<string>孝感</string>
		<key>101200501</key>
		<string>黄冈</string>
		<key>101200601</key>
		<string>黄石</string>
		<key>101200701</key>
		<string>咸宁</string>
		<key>101200801</key>
		<string>荆州</string>
		<key>101200901</key>
		<string>宜昌</string>
		<key>101201001</key>
		<string>恩施</string>
		<key>101201101</key>
		<string>十堰</string>
		<key>101201201</key>
		<string>神农架</string>
		<key>101201301</key>
		<string>随州</string>
		<key>101201401</key>
		<string>荆门</string>
		<key>101201501</key>
		<string>天门</string>
		<key>101201601</key>
		<string>仙桃</string>
		<key>101201701</key>
		<string>潜江</string>
	</dict>
	<key>Hunansheng</key>
	<dict>
		<key>101250101</key>
		<string>长沙</string>
		<key>101250201</key>
		<string>湘潭</string>
		<key>101250301</key>
		<string>株洲</string>
		<key>101250401</key>
		<string>衡阳</string>
		<key>101250501</key>
		<string>郴州</string>
		<key>101250601</key>
		<string>常德</string>
		<key>101250701</key>
		<string>益阳</string>
		<key>101250801</key>
		<string>娄底</string>
		<key>101250901</key>
		<string>邵阳</string>
		<key>101251001</key>
		<string>岳阳</string>
		<key>101251101</key>
		<string>张家界</string>
		<key>101251201</key>
		<string>怀化</string>
		<key>101251301</key>
		<string>黔阳</string>
		<key>101251401</key>
		<string>永州</string>
		<key>101251501</key>
		<string>吉首</string>
	</dict>
	<key>Jiangsusheng</key>
	<dict>
		<key>101190101</key>
		<string>南京</string>
		<key>101190201</key>
		<string>无锡</string>
		<key>101190301</key>
		<string>镇江</string>
		<key>101190401</key>
		<string>苏州</string>
		<key>101190501</key>
		<string>南通</string>
		<key>101190601</key>
		<string>扬州</string>
		<key>101190701</key>
		<string>盐城</string>
		<key>101190801</key>
		<string>徐州</string>
		<key>101190901</key>
		<string>淮安</string>
		<key>101191001</key>
		<string>连云港</string>
		<key>101191101</key>
		<string>常州</string>
		<key>101191201</key>
		<string>泰州</string>
		<key>101191301</key>
		<string>宿迁</string>
	</dict>
	<key>Jiangxisheng</key>
	<dict>
		<key>101240101</key>
		<string>南昌</string>
		<key>101240201</key>
		<string>九江</string>
		<key>101240301</key>
		<string>上饶</string>
		<key>101240401</key>
		<string>抚州</string>
		<key>101240501</key>
		<string>宜春</string>
		<key>101240601</key>
		<string>吉安</string>
		<key>101240701</key>
		<string>赣州</string>
		<key>101240801</key>
		<string>景德镇</string>
		<key>101240901</key>
		<string>萍乡</string>
		<key>101241001</key>
		<string>新余</string>
		<key>101241101</key>
		<string>鹰潭</string>
	</dict>
	<key>Jilinsheng</key>
	<dict>
		<key>101060101</key>
		<string>长春</string>
		<key>101060201</key>
		<string>吉林</string>
		<key>101060301</key>
		<string>延吉</string>
		<key>101060401</key>
		<string>四平</string>
		<key>101060501</key>
		<string>通化</string>
		<key>101060601</key>
		<string>白城</string>
		<key>101060701</key>
		<string>辽源</string>
		<key>101060801</key>
		<string>松原</string>
		<key>101060901</key>
		<string>白山</string>
	</dict>
	<key>Liaoningsheng</key>
	<dict>
		<key>101070101</key>
		<string>沈阳</string>
		<key>101070201</key>
		<string>大连</string>
		<key>101070301</key>
		<string>鞍山</string>
		<key>101070401</key>
		<string>抚顺</string>
		<key>101070501</key>
		<string>本溪</string>
		<key>101070601</key>
		<string>丹东</string>
		<key>101070701</key>
		<string>锦州</string>
		<key>101070801</key>
		<string>营口</string>
		<key>101070901</key>
		<string>阜新</string>
		<key>101071001</key>
		<string>辽阳</string>
		<key>101071101</key>
		<string>铁岭</string>
		<key>101071201</key>
		<string>朝阳</string>
		<key>101071301</key>
		<string>盘锦</string>
		<key>101071401</key>
		<string>葫芦岛</string>
	</dict>
	<key>Neimenggu zizhiqu</key>
	<dict>
		<key>101080101</key>
		<string>呼和浩特</string>
		<key>101080201</key>
		<string>包头</string>
		<key>101080301</key>
		<string>乌海</string>
		<key>101080401</key>
		<string>集宁</string>
		<key>101080501</key>
		<string>通辽</string>
		<key>101080601</key>
		<string>赤峰</string>
		<key>101080701</key>
		<string>鄂尔多斯</string>
		<key>101080801</key>
		<string>临河</string>
		<key>101080901</key>
		<string>锡林浩特</string>
		<key>101081000</key>
		<string>呼伦贝尔</string>
		<key>101081101</key>
		<string>乌兰浩特</string>
		<key>101081201</key>
		<string>阿拉善左旗</string>
	</dict>
	<key>Ningxia Huizu zizhiqu</key>
	<dict>
		<key>101170101</key>
		<string>银川</string>
		<key>101170201</key>
		<string>石嘴山</string>
		<key>101170301</key>
		<string>吴忠</string>
		<key>101170401</key>
		<string>固原</string>
		<key>101170501</key>
		<string>中卫</string>
	</dict>
	<key>North America</key>
	<dict>
		<key>401010100</key>
		<string>华盛顿特区</string>
		<key>404010100</key>
		<string>渥太华</string>
		<key>406010100</key>
		<string>哈瓦那</string>
		<key>410010100</key>
		<string>金斯顿</string>
		<key>411010100</key>
		<string>墨西哥城</string>
		<key>416010100</key>
		<string>加拉加斯</string>
	</dict>
	<key>Oceania</key>
	<dict>
		<key>601010100</key>
		<string>堪培拉</string>
		<key>606010100</key>
		<string>惠灵顿</string>
	</dict>
	<key>Qinghaisheng</key>
	<dict>
		<key>101150101</key>
		<string>西宁</string>
		<key>101150201</key>
		<string>海东</string>
		<key>101150301</key>
		<string>黄南</string>
		<key>101150401</key>
		<string>海南</string>
		<key>101150501</key>
		<string>果洛</string>
		<key>101150601</key>
		<string>玉树</string>
		<key>101150701</key>
		<string>海西</string>
		<key>101150801</key>
		<string>海北</string>
	</dict>
	<key>Shandongsheng</key>
	<dict>
		<key>101120101</key>
		<string>济南</string>
		<key>101120201</key>
		<string>青岛</string>
		<key>101120301</key>
		<string>淄博</string>
		<key>101120401</key>
		<string>德州</string>
		<key>101120501</key>
		<string>烟台</string>
		<key>101120601</key>
		<string>潍坊</string>
		<key>101120701</key>
		<string>济宁</string>
		<key>101120801</key>
		<string>泰安</string>
		<key>101120901</key>
		<string>临沂</string>
		<key>101121001</key>
		<string>菏泽</string>
		<key>101121101</key>
		<string>滨州</string>
		<key>101121201</key>
		<string>东营</string>
		<key>101121301</key>
		<string>威海</string>
		<key>101121401</key>
		<string>枣庄</string>
		<key>101121501</key>
		<string>日照</string>
		<key>101121601</key>
		<string>莱芜</string>
		<key>101121701</key>
		<string>聊城</string>
	</dict>
	<key>Shanxisheng</key>
	<dict>
		<key>101110101</key>
		<string>西安</string>
		<key>101110200</key>
		<string>咸阳</string>
		<key>101110300</key>
		<string>延安</string>
		<key>101110401</key>
		<string>榆林</string>
		<key>101110501</key>
		<string>渭南</string>
		<key>101110601</key>
		<string>商洛</string>
		<key>101110701</key>
		<string>安康</string>
		<key>101110801</key>
		<string>汉中</string>
		<key>101110901</key>
		<string>宝鸡</string>
		<key>101111001</key>
		<string>铜川</string>
	</dict>
	<key>Shanxisheng_</key>
	<dict>
		<key>101100101</key>
		<string>太原</string>
		<key>101100201</key>
		<string>大同</string>
		<key>101100301</key>
		<string>阳泉</string>
		<key>101100401</key>
		<string>晋中</string>
		<key>101100501</key>
		<string>长治</string>
		<key>101100601</key>
		<string>晋城</string>
		<key>101100701</key>
		<string>临汾</string>
		<key>101100801</key>
		<string>运城</string>
		<key>101100901</key>
		<string>朔州</string>
		<key>101101001</key>
		<string>忻州</string>
		<key>101101100</key>
		<string>吕梁</string>
	</dict>
	<key>Sichuansheng</key>
	<dict>
		<key>101270101</key>
		<string>成都</string>
		<key>101270201</key>
		<string>攀枝花</string>
		<key>101270301</key>
		<string>自贡</string>
		<key>101270401</key>
		<string>绵阳</string>
		<key>101270501</key>
		<string>南充</string>
		<key>101270601</key>
		<string>达州</string>
		<key>101270701</key>
		<string>遂宁</string>
		<key>101270801</key>
		<string>广安</string>
		<key>101270901</key>
		<string>巴中</string>
		<key>101271001</key>
		<string>泸州</string>
		<key>101271101</key>
		<string>宜宾</string>
		<key>101271201</key>
		<string>内江</string>
		<key>101271301</key>
		<string>资阳</string>
		<key>101271401</key>
		<string>乐山</string>
		<key>101271501</key>
		<string>眉山</string>
		<key>101271601</key>
		<string>凉山</string>
		<key>101271701</key>
		<string>雅安</string>
		<key>101271801</key>
		<string>甘孜</string>
		<key>101271901</key>
		<string>阿坝</string>
		<key>101272001</key>
		<string>德阳</string>
		<key>101272101</key>
		<string>广元</string>
	</dict>
	<key>South America</key>
	<dict>
		<key>501010100</key>
		<string>布宜诺斯艾利斯</string>
		<key>503010100</key>
		<string>圣地亚哥</string>
		<key>504010100</key>
		<string>波哥大</string>
	</dict>
	<key>Tequ</key>
	<dict>
		<key>101320101</key>
		<string>香港</string>
		<key>101330101</key>
		<string>澳门</string>
	</dict>
	<key>Xinjiang Weiwuerzu zizhiqu</key>
	<dict>
		<key>101130101</key>
		<string>乌鲁木齐</string>
		<key>1011301601</key>
		<string>博乐</string>
		<key>101130201</key>
		<string>克拉玛依</string>
		<key>101130301</key>
		<string>石河子</string>
		<key>101130401</key>
		<string>昌吉</string>
		<key>101130501</key>
		<string>吐鲁番</string>
		<key>101130601</key>
		<string>库尔勒</string>
		<key>101130701</key>
		<string>阿拉尔</string>
		<key>101130801</key>
		<string>阿克苏</string>
		<key>101130901</key>
		<string>喀什</string>
		<key>101131001</key>
		<string>伊宁</string>
		<key>101131101</key>
		<string>塔城</string>
		<key>101131201</key>
		<string>哈密</string>
		<key>101131301</key>
		<string>和田</string>
		<key>101131401</key>
		<string>阿勒泰</string>
		<key>101131501</key>
		<string>阿图什</string>
	</dict>
	<key>Xizang zizhiqu</key>
	<dict>
		<key>101140101</key>
		<string>拉萨</string>
		<key>101140201</key>
		<string>日喀则</string>
		<key>101140301</key>
		<string>山南</string>
		<key>101140401</key>
		<string>林芝</string>
		<key>101140501</key>
		<string>昌都</string>
		<key>101140601</key>
		<string>那曲</string>
		<key>101140701</key>
		<string>阿里</string>
	</dict>
	<key>Yunnansheng</key>
	<dict>
		<key>101290101</key>
		<string>昆明</string>
		<key>101290201</key>
		<string>大理</string>
		<key>101290301</key>
		<string>红河</string>
		<key>101290401</key>
		<string>曲靖</string>
		<key>101290501</key>
		<string>保山</string>
		<key>101290601</key>
		<string>文山</string>
		<key>101290701</key>
		<string>玉溪</string>
		<key>101290801</key>
		<string>楚雄</string>
		<key>101290901</key>
		<string>普洱</string>
		<key>101291001</key>
		<string>昭通</string>
		<key>101291101</key>
		<string>临沧</string>
		<key>101291201</key>
		<string>怒江</string>
		<key>101291301</key>
		<string>中甸</string>
		<key>101291401</key>
		<string>丽江</string>
		<key>101291501</key>
		<string>德宏</string>
		<key>101291601</key>
		<string>景洪</string>
	</dict>
	<key>Zhejiangsheng</key>
	<dict>
		<key>101210101</key>
		<string>杭州</string>
		<key>101210201</key>
		<string>湖州</string>
		<key>101210301</key>
		<string>嘉兴</string>
		<key>101210401</key>
		<string>宁波</string>
		<key>101210501</key>
		<string>绍兴</string>
		<key>101210601</key>
		<string>台州</string>
		<key>101210701</key>
		<string>温州</string>
		<key>101210801</key>
		<string>丽水</string>
		<key>101210901</key>
		<string>金华</string>
		<key>101211001</key>
		<string>衢州</string>
		<key>101211101</key>
		<string>舟山</string>
	</dict>
	<key>Zhixiashi</key>
	<dict>
		<key>101010100</key>
		<string>北京</string>
		<key>101020100</key>
		<string>上海</string>
		<key>101030100</key>
		<string>天津</string>
		<key>101040100</key>
		<string>重庆</string>
	</dict>
</dict>
</plist>
